body {
    background-color:darkslateblue;
    font-family: Arial, Helvetica, sans-serif;
    }
    h1 {
    color: greenyellow;
    text-align: center;
    }
p {
text-align: center; color: #E065D5;
}
#para1 {
text-align: center; color: #89E065;
}
.center {
text-align: center; color: #8251e0;
}